body {
  background-color: #ff5d3d;
  font-family: Arial, sans-serif;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-top: 20px;
}

button, .button {
   background-color: #ff5d3d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
